html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
  background-color: #f0f0f0;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 2px solid #dddddd;
  /* Set the fixed height of the footer here */
  height: 110px;
}
#tokenLabel {
    font-family: "Menlo", "Andale Mono", monospace;
}
#detectorInput, #runInput, #eventInput {
    width: 75px;
}

#canvas {
    min-height: 300px;
    padding: 0;
    margin: 0;
}
#console {
  height: 90px;
  font-size: 10px;
  border: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  color: #999999;
  background-color: #f0f0f0;
}

#stats {
    position: absolute !important;
    top: 60px !important;
    left: 10px !important;
}

#gui_left {
    top: 60px;
    left: 10px;
}

#gui_right {
    top: 60px;
    right: 10px;
}

.gui_menu {
    position: absolute;
    font-family: "Menlo", "Andale Mono", monospace;
}

.gui_menu input {
    padding: 0;
    padding-left: 3px;
    padding-right: 3px;
    margin: 4px;
    height: 19px;
    line-height: 19px;
    font-size: 11px;
}
#gui_right .selector {
    padding: 0 !important;
    border: none !important;
    box-shadow: none !important;
}

#gui_right div.slider {
    padding-left: 1px;
    padding-right: 1px;
    background-color: #eeeeee;
}
#gui_right .button {
    background-color: #cccccc;
}

#gui_right .button.gears {
    width: 16px;
    height: 16px;
}

#gui_left .button.gears {
    width: 16px;
    height: 16px;
}

#dg-save {
    background-color: #eeeeee !important;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}


